@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');
:root {
   --main-color: #413c58;
   --second-color:#ca5501;
   --grey-color: #807979;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


/*************** Coup de coeur **************/

.coeur-container {
    max-width: 100%;
    margin: 20px;
    width: 95%;
    

}

.coeur-container h2 {
    text-align: left;
    width: 100%;
}
.imagecoeur-container {
    background-image: url(https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60); 

    width: 100%;
    height: 230px;
    margin-top: .7rem;
    background-size: cover;
    border-radius: 5px;
    background-position: center;
  }

   @media screen and (min-width: 576px) {
    .imagecoeur-container{
        margin: 1rem auto;
        height: 300px;
     
      
    }
}
@media screen and (min-width: 768px) {
    .imagecoeur-container{
        height: 400px;
       
    }
}

@media screen and (min-width: 992px) {
    .imagecoeur-container{
      
    }
}
@media screen and (min-width: 1200px) {
    .imagecoeur-container{
       
    }
}
@media screen and (min-width: 1400px) {
    .imagecoeur-container{
      
    }
}
