@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,300;0,400;0,500;1,700&display=swap");

:root {
  --main-color: #413c58;
  --second-color: #ca5501;
  --grey-color: #807979;
  --footer-height: 60px;
  --team-card-height: 85px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  padding-bottom: calc(var(--footer-height) + 30px);
  min-height: 100vh;
}
body.noscroll {
  overflow: hidden;
}

.bg-main {
  background-color: var(--main-color);
}

h2 {
  font-size: 1.6em;
  margin-top: 0.5em;
}
main p,
main h2 {
  margin-bottom: 0.5em;
}

a,
a:hover {
  transition: all 0.3s;
}
a:hover {
  color: var(--second-color);
}

/* ------ nav + footer ------- */

header,
footer {
  padding: 0 3%;
  display: flex;
  z-index: 9;
  min-height: var(--footer-height);
}
header .logo,
footer * {
  align-self: center;
}

header {
  position: relative;
}
header a {
  color: white;
}
header .logo img {
  display: block;
  float: left;
  max-width: 200px;
}
header .logo,
header .burger,
footer {
  z-index: 10;
}

/* footer */

footer {
  bottom: 0px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 3%;
  min-height: var(--footer-height);
  justify-content: space-between;
  color: white;
  font-size: small;
}

/* ------ main ------- */

main {
  position: relative;
  z-index: 4;
}

.flex {
  display: flex;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
.container-max {
  width: 100%;
}

/* bandeau */

.bandeau {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 15% 10%;
  text-align: center;
  text-shadow: 2px 2px 4px black;
  margin-bottom: 2em;
  font-size: 1.5em;
}
.bandeau:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}
.bandeau * {
  position: relative;
  z-index: 3;
}
.bandeau h1 {
  font-size: 1.3em;
}
.bandeau p {
  font-size: 18px;
}

/* ------ Pages ------- */
/* ------- list de bars ----- */

.categories-container .categories-hero .btn {
  padding: 3px 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  border: 1px solid gainsboro;
  background-color: white;
  font-weight: 500;
  font-size: 17px;
}

.categories-container h3 {
  margin-bottom: 15px;
}

.categories-container .categories-hero .btn.active {
  background-color: var(--second-color);
  color: white;
  border: 1px solid var(--second-color);
}

.categories-container .categories-hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories-container .categories-list {
  margin-top: 0.8rem;
  display: flex;
  justify-content: flex-start;
}

.categories-container .category {
  color: var(--grey-color);
  font-weight: 600;
  margin-right: 30px;
  position: relative;
  white-space: nowrap;
  border: none;
  border: 0px;
  outline: 0px;
  font-size: 1rem;
}

.categories-container span.category.active,
.categories-container span.category:hover {
  color: black;
}

.categories-container span.category::after {
  content: "";
  height: 8px;
  background-color: var(--second-color);
  width: 0px;

  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  right: 0%;
  transition: 0.3s;
}

.categories-container span.category.active:after,
.categories-container span.category:hover::after {
  width: 70%;
  left: 0%;
}

.card {
  margin: 1rem 0;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-size: 16px;
  box-shadow: 4px 2px 10px 3px #e8e7e7;
  line-height: 1.4rem;
}
a.card:hover {
  color: initial;
}

.card h2 {
  padding-bottom: 0.5rem;
  margin-top: 0.3rem;
}
.card-image {
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
  background: url("https://media.timeout.com/images/105922006/750/422/image.jpg")
    no-repeat center/cover;
}
.card-details {
  display: flex;
  height: 100%;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}
.card-title-description {
  height: 80%;
  overflow-y: hidden;
}
.card-options {
  display: flex;
  justify-content: space-around;
  margin-top: 18px;
}
.card-option {
  width: 50%;
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
}
.card-option h4 {
  padding-left: 10px;
  font-size: 14px;
}
.card img.logo {
  width: 18px;
  height: 18px;
}
.not-available {
  filter: grayscale(1);
}
/* bar-detail */

.md-flex-order-1 img {
  width: 100%;
}

.container-title-info h3 {
  margin-top: -45px;
}

.container-specialites {
  display: flex;
  flex-direction: column-reverse;
}

.specialites-left {
  background: url("/media/cafe-neon.jpg") no-repeat center/cover;
  height: 100%;
  min-height: 300px;
  width: 100%;
  margin-top: 50px;
}

.container-title-info h3,
.container-ambiance h3,
.container-specialites h3 {
  font-size: 25px;
}

.container-title-info h3,
.container-specialites h3 {
  padding-left: 15px;
  padding-right: 15px;
}

.container-infos-bar {
  width: 85%;
  border-radius: 10px;
  padding: 30px 0px 30px 0px;
  text-align: center;
  box-shadow: 4px 2px 10px 3px #e8e7e7;
  background-color: white;
  z-index: 33;
  position: relative;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
}

.page-detail .container-infos-bar {
  box-shadow: -1px 9px 13px 0px #e8e7e7;
}

.container .img-quelques-infos {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  background: url("/media/cafe-neon.jpg") no-repeat center/cover;
}
.container-infos-bar h1 {
  font-size: 26px;
  text-transform: uppercase;
}

.container-infos-bar .bar-name {
  color: var(--grey-color);
  font-weight: 400;
  font-size: 18px;
}

.container-infos-bar .icons-bar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.container-infos-bar .icon2 {
  margin-left: 15px;
}

.container-specialites {
  margin-top: 30px;
}

.container-specialites,
.container-full-description {
  padding: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8rem;
}

.container-full-description p,
.container-specialites p {
  padding-left: 15px;
  padding-right: 15px;
}

.container-full-description p,
.container-ambiance p,
.container-specialites p {
  margin-top: 20px;
}
.container-ambiance {
  margin-top: 20px;
  padding: 30px 15px 30px 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8rem;
  background-color: #fbf4ed;
}

.container-horaires {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fbf4ed;
  padding: 30px 15px 30px 15px;
}

.container-horaires .infos-genriques {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
}

.container-horaires .adresse {
  margin-top: 10px;
}

.infos-genriques .horaires,
.infos-genriques .adresse,
.infos-genriques .option-supplementaires {
  margin-top: 10px;
}

/*************** Coup de coeur **************/

.coeur-container {
  max-width: 100%;
  margin: 20px 0;
  width: 100%;
}

.coeur-container h2 {
  text-align: left;
  width: 100%;
}
.imagecoeur-container {
  /* background-image: url(https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YmFyfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60); */

  width: 100%;
  height: 230px;
  margin-top: 0.7em;
  background-size: cover;
  border-radius: 5px;
  background-position: center;
  display: flex;
}

/* --- About Us --- */

.aboutus h2 {
  text-align: center;
  margin: 90px 0 60px;
  font-size: 36px;
}
.aboutus main p {
  margin-bottom: 40px;
}

.team-card-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(240px, 1fr)
  ); /* 5 éléments par ligne au minimum, adaptatif en fonction de l'espace disponible */
  gap: 10px; /* Espace entre les éléments */
  align-items: center; /* Centrez les éléments verticalement */
  justify-content: center; /* Centrez horizontalement la dernière ligne */
}

.aboutus .team-card {
  flex-basis: calc(20% - 20px);
  width: 100%;
  max-width: 310px;
  margin: 0 auto 50px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}
.aboutus .team-card div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--team-card-height);
  background-color: var(--second-color);
  padding: 0 24px;
  font-weight: 700;
  transform: translateY(100%);
  display: flex;
  align-items: center;
}
.aboutus .team-card:hover div {
  transform: translateY(0%);
}
.aboutus .team-card:hover div {
  transform: translateY(0%);
}
.aboutus .team-card:hover div,
.aboutus .team-card div,
.aboutus .team-card img,
.aboutus .team-card:hover img {
  transition: all 0.3s;
}
.aboutus .team-card img {
  float: left;
  width: 100%;
  height: auto;
}
.aboutus .team-card:hover img {
  transform: scale(1.08);
}
.aboutus .team-card strong {
  display: block;
  font-size: 27px;
  line-height: 34px;
}

/* ------------- RESPONSIVE -------------- */

/* RESPONSIVE 576 */

@media screen and (min-width: 576px) {
  /* ------- main -------- */

  :root {
    --footer-height: 80px;
  }

  /* ------ nav + footer ------- */

  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header {
    justify-content: space-between;
  }
  .menu {
    display: flex;
    align-items: center;
  }

  /* ------- pages -------- */

  /*  coup de coeur   */
  .imagecoeur-container {
    margin: 1em auto;
    height: 300px;
  }
}

@media screen and (max-width: 576px) {
  /* ------- main -------- */

  /* bandeau */

  /* nav footer */

  header .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: 9;
  }
  header nav li {
    padding: 12% 0;
    font-size: 1.3em;
  }

  header .menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    text-align: center;
    transform: translateX(100%);
  }
  header .menu.active {
    transform: translateX(-3%);
  }
  header .menu,
  header .menu.active {
    transition: all 0.3s;
  }

  header {
    justify-content: space-between;
  }

  /* burger animation */

  .burger {
    position: absolute;
    width: 27px;
    height: 24px;
    right: 27px;
    top: calc(50% - 12px);
  }
  .burger span:before,
  .burger span:after {
    content: "";
  }
  .burger span:before,
  .burger span,
  .burger span:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
  }
  .burger span:before {
    top: -10px;
  }
  .burger span {
    top: calc(50% - 3px);
  }
  .burger span:after {
    top: 10px;
  }

  .burger.active span {
    background-color: var(--main-color);
  }
  .burger.active span:before {
    rotate: 45deg;
    top: -9px;
  }
  .burger.active span:after {
    rotate: -45deg;
    top: 9px;
  }
  .burger.active span:before,
  .burger.active span:after {
    background-color: var(--second-color);
  }
  .burger span:before,
  .burger span:after,
  .burger span,
  .burger.active span,
  .burger.active span:before,
  .burger.active span:after {
    transition: all 0.3s;
  }

  /* ------- pages -------- */
}
/*      map     */

iframe {
  width: 100%;
}
.map {
  zoom: 100;
}

/* RESPONSIVE 768 */

@media screen and (min-width: 768px) {
  /* ------- main -------- */

  .bandeau h1 {
    font-size: 2.2em;
  }
  .bandeau p {
    font-size: 1.2em;
  }

  /* ------- pages -------- */

  .imagecoeur-container {
    height: 400px;
  }
  .team-card-container {
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes pour desktop */
  }

  /* bar-detail */

  .bar-detail .container .md-flex-order-1 {
    max-width: 40%;
    margin-right: 2em;
  }
  .container-infos-bar {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-full-description {
    display: flex;
    margin: 0 auto;
  }

  .container-full-description p {
    width: 50%;
    padding-right: 40px;
  }
  .container .img-quelques-infos {
    margin-top: 0;
    width: 50%;
    height: auto;
  }

  .container-ambiance,
  .container-specialites {
    margin-top: 50px;
  }

  .container-specialites {
    flex-direction: row;
  }

  .specialites-right {
    padding-left: 40px;
  }

  .specialites-left {
    width: 50%;
    margin-top: 0;
  }

  .specialites-right {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  /* ------- main -------- */

  .md-flex {
    display: flex;
  }
  .md-flex-column {
    flex-direction: column;
  }
  .md-flex-order-1 {
    order: +1;
  }

  /* ------- pages -------- */

  .team-card-container {
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour tablette */
  }

  /* Appliquer une largeur de 100% à la dernière ligne (élément 5, 6, 7, etc.) */
  .team-card:nth-child(n + 5) {
    grid-column: span 2;
  }

  /* bar-detail */

  .md-flex-order-1 img {
    margin-top: 2em;
  }
}

/* RESPONSIVE 992 */

@media screen and (min-width: 992px) {
  /* ------- main -------- */
  .card {
    width: 49%;
    flex-direction: row;
    padding: 1.3rem;
  }

  .card-details {
    padding: 0;
  }

  .card h2 {
    margin-top: 0;
  }

  .container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .card-image {
    min-width: 100px;
    max-width: 130px;
    margin-right: 1.3rem;
    min-height: auto;
  }
}

@media screen and (max-width: 992px) {
  /* ------- main -------- */
}

/* RESPONSIVE 1200 */

@media screen and (min-width: 1200px) {
  /* bandeau */
}

@media screen and (max-width: 1200px) {
  /* ------- main -------- */
  .container {
    padding: 0 1.5em;
  }
}

@media screen and (min-width: 576px) {
}
